nav {
    min-height: 7%;
    position: sticky;
}
main {
    min-height: 87%;
}
footer {
    min-height: 5%;
}
body {
    width: 100%;
    height: 100%;
}
html {
    width: 100%;
    height: 100%;
}
.bandcard {
    margin-top: 1rem;
    max-width: 18rem;
}
.membercard {
    margin-top: 1rem;
    max-width: 100%;
}
.keepaspectratio {
    width: 100%;
    height: auto;
}
.bandmembercard {
    max-width: 20em;
    min-height: 8em;
}
.optionParent {
    font-weight: bold;
}
.optionChild {
    font-weight: lighter;
}