<section class="row container-fluid">
    <img src="/images/PLACEHOLDER.jpg" class="col-md-2 rounded img-thumbnail img-fluid">
    <div class="col-md-auto p-2">
        <h2>Admin</h2>
        <p class="text-break">Admin</p>
    </div>
</section>
<section class="row container-fluid p-4">
    <p class="h3">Admin Tools</p>
    <div class="col-12">
        
    </div>
</section>