<form method="POST" action="login">
    <label>OP Name</label>
    <input type="text" name="adminName">
    <label>Password</label>
    <input type="password" name="adminPassword">
    <input type="hidden" value="{{csrfToken}}" name="_csrf">
</form>