<section class="row container-fluid">
    <img src="/images/PLACEHOLDER.jpg" class="col-md-2 rounded img-thumbnail img-fluid">
    <div class="col-md-10 p-2">
        <h2>BANDNAME</h2>
        <p class="text-break">BIO PLACEHOLDER
            AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
        </p>
    </div>
</section>
<section class="row container-fluid p-4">
    <p class="h3">Members</p>
    <div class="col-12">
        <ul class="list-unstyled list-inline">
            <li class="list-inline-item">
                <div class="card membercard">
                    <img src="/images/PLACEHOLDER.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">USERNAME</h5>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>