<section class="row container-fluid">
    <form class="form-group">
        <input type="text" placeholder="Search band title">
        <input type="submit">
    </form>
    <form class="form-group">
        <label>Sort by</label>
        <select>
            <option>
                PLACEHOLDER
            </option>
            <option>
                PLACEHOLDER
            </option>
        </select>
    </form>
</section>
<section class="row p-2 container-fluid">
    <ul class="list-group w-100">
        <li class="list-group-item row">
            <img class="col-2 img-thumbnail m-0" src="/images/PLACEHOLDER.JPG">
            <div class="col-10 m-0">
                <p class="h3">BANDNAME</p>
                <p class="text-break">BIO PLACEHOLDER AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA</p>
                <a href="#" class="stretched-link"></a>
            </div>
            <a class="btn btn-primary">Apply</a>
        </li>
    </ul>
</section>