<h2>USERNAME</h2>
<section class="row container-fluid">
    <div class="col-md-12 p-2 row">
        <img class="img-thumbnail membercard" src="/images/PLACEHOLDER.jpg">
        <form class="form-group col-md-10">
            <section>
                <label class="keepaspectratio" for="thumbImageSelect">Replace profile image</label>
                <input class="form-control" type="file">
            </section>
            <label for="bioEditText">Bio</label>
            <input class="form-control" type="text" value="Edit bio" id="bioEditText">

            <div class="form-group">
                <label for="proficencyFormSelect">Select proficencies</label>
                <select multiple class="form-control" id="proficencyFormSelect">
                    <option>SKINFLUTE</option>
                    <option>PLACEHOLDER</option>
                </select>
            </div>

            <input class="btn btn-primary" type="submit" value="Save changes">
        </form> 
    </div>
</section>