<h2>Welcome</h2>
<p>Here are some featured bands</p>
<ul class="list-unstyled list-inline">
    <li class="list-inline-item">
        <div class="card bandcard">
            <img src="/images/PLACEHOLDER.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">BAND NAME</h5>
                <a href="/bands/view/1" class="btn btn-primary">View</a>
            </div>
        </div>
    </li>
</ul>