<div class="row m-3">
    <section class="col-md-6">
        <p class="display-4 text-center">Find a band</p>
        <a class="btn btn-primary mx-auto d-block w-20" href="bands">Browse</a>
    </section>
    <section class="col-md-6">
        <p class="display-4 text-center">Create a band</p>
        <a class="btn btn-primary mx-auto d-block w-20" href="create">Create</a>
    </section>
</div>