<section class="row container-fluid">
    <img src="/images/PLACEHOLDER.jpg" class="col-md-2 rounded img-thumbnail img-fluid">
    <div class="col-md-10 p-2">
        <h2>USERNAME</h2>
        <p class="text-break">BIO PLACEHOLDER AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA</p>
    </div> 
</section>
<section class="row container-fluid p-4">
    <p class="h3">Proficencies</p>
    <div class="col-12">
        <ul class="list-unstyled list-inline">
            <li class="list-inline-item bg-light p-2">SKIN FLUTE</li>
        </ul>
    </div>
</section>