<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
    <title>Band Together</title>
</head>
<body>
    <nav class="navbar navbar-light navbar-expand-lg bg-primary">
        <a class="nav-link navbar-brand" href="#">Band together</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">Browse</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">My Band</a>
                </li>
            </ul>
            <span>
                <ul class="navbar-nav float-lg-left">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Log in/out</a>
                    </li>
                </ul>
            </span>
        </div>
    </nav>
    <main>
        {{{body}}}
    </main>
</body>
</html>