<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
    <title>Band Together</title>
</head>
<body>
    <nav class="navbar navbar-light bg-light shadow-sm">
        <section class="nav nav-justified">
            <header>
                <a class="navbar-brand" href="#">Band Together</a>
            </header>
        </section>
        <section class="nav mr-auto">
            <a class="nav-link" href="#">Browse</a>
            <a class="nav-link" href="#">My band</a>
        </section>
        <section class="nav justify-content-right nav-pills">
            <a class="nav-link" href="#">Account</a>
        </section>
    </nav>
    <main class="p-3">
        {{{body}}}
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    </main>
    <footer class="container-fluid bg-primary">
        hello everybody
    </footer>
</body>
</html>