nav {
    min-height: 5%;
}
main {
    min-height: 90%;
}
main > div {
    display: none;
}
main > div.current-page {
    display: block;
}
main > #alert-holder{
    display: block;
}
main > #loading-indicator-page {
    display: block;
}
main > #error-page{
    display: block;
}
body.showIfSingedOut .showIfSignedIn{
	display: none;
}

body.showIfSignedIn .showIfSingedOut{
	display: none;
}
footer {
    min-height: 5%;
}
#loading-indicator-spinner {
    background-color: #00a2ff;
    background-image: url("/images/bf.png");
    background-size: contain;
    background-position: center;

    border-radius: 20px;
    height: 6em; 
    width: 6em;

    position: fixed;

    top: 50%;
    left: 50%;
    margin-top: -3em; 
    margin-left: -3em;

    animation-name: spin;
    animation-duration: 2s;
    animation-iteration-count: infinite;

    opacity: 1;
    transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0deg);
    }
}