nav {
    min-height: 5%;
}
main {
    min-height: 90%;
}
main > div {
    display: none;
}
main > div.current-page {
    display: block;
}
footer {
    min-height: 5%;
}
.bandcard {
    margin-top: 1rem;
    max-width: 18rem;
}
.membercard {
    margin-top: 1rem;
    max-width: 12rem;
}
.keepaspectratio {
    width: 100%;
    height: auto;
}
.band-detail-image {
    height: 200px;
    width: 200px
}